# Build directories
/build/
/build-*/
/CMakeCache.txt
/CMakeFiles/
/compile_commands.json
/Makefile
/*.mk
/meson.build

# ESP-IDF specific
/sdkconfig
/sdkconfig.old
/sdkconfig.backup

# Editor temporary files
*~
.*~
*.un~
*.swp
*.swo
*.bak
*.orig

# Python caches
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# IDE/project files (if using VSCode or CLion)
.vscode/
.idea/
*.iml

# Logs and temporary files
*.log
*.tmp
